    .main{
    border:2px solid black;
    margin-left: 20%;
    height:100%;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 33% 33% 33% ;
    gap: 2px;
}

.a img{
    height: 100%;
    width:100%;
}
@media(max-width:100px){
    .main{
    display:none;
    }
    }